Services/Alan_Orders.module/Schemas/orders_summary.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!-- Created with Liquid Studio 2018 (https://www.liquid-technologies.com) -->
<schema xmlns:tns="http://www.alanexpress.com/Summary" elementFormDefault="qualified" targetNamespace="http://www.alanexpress.com/Summary" xmlns="http://www.w3.org/2001/XMLSchema">
    <complexType name="orders_summary">
        <sequence>
            <element name="order_id" type="int" minOccurs="1" />
            <element name="customer_id" type="string" minOccurs="1" />
            <element name="food_name" type="int" minOccurs="1" />
            <element name="resturant_name" type="int" minOccurs="1" />
        </sequence>
    </complexType>
    <element name="orders_summary" type="tns:orders_summary" />
</schema>