Services/Alan_Restaurant_Menu.module/Schemas/restaurant_menu.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!-- Created with Liquid Studio 2018 (https://www.liquid-technologies.com) -->
<schema xmlns:tns="http://www.alanexpress.com/Menu" elementFormDefault="qualified" targetNamespace="http://www.alanexpress.com/Menu" xmlns="http://www.w3.org/2001/XMLSchema">
    <complexType name="restaurant_menu">
        <sequence>
            <element name="food_id" type="int" minOccurs="1" />
            <element name="name" type="string" minOccurs="1" />
            <element name="price" type="decimal" minOccurs="1" />
        </sequence>
    </complexType>
    <element name="restaurant_menu" type="tns:restaurant_menu" />
</schema>